* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62,5%;
}
html,
body {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
body {
    width: 100vw;
    font-size: 1.6rem;
}
/*MENU*/
a {
    text-decoration: none;
    color: #766F68;
}
#logo {
    color: #D2872C;
    font-size: 1.8rem;
    font-weight: 500;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li {
    display: block;
    padding: 10px;
}
/*CENTER*/
img {
    max-width: 120%;
    display: block;
    margin-top: 5px;
    margin-left: -4.5rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}
.flex > div {
    flex: 1 1 400px;
}
#box-text h1 {
    font-size: 5.3rem;
    color: #766F68;
}
#box-text h2 {
    font-size: 2rem;
    color: #766F68;
    font-weight: 400;
    margin: 30px 0 0 0;
}
#box-text button {
    color: #fff;
    background: #D2872C;
    font-size: 1.8rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    width: 50%;
    margin: 30px 0 0 0;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

}
#box-image {
    z-index: -1;
}

/*MEDIA QUERIES*/
@media (max-width: 1195px){
    html {
        font-size: 62%;
    }
    
    img {
        max-width: 90%;
        margin: 0 auto;
    }
    .flex > div {
        text-align: center;
    }
}    
@media (max-width: 799px) {
    #logo {
        font-size: 3.8rem;
    }
    #box-image{
       order: -1;
   }
   
}
@media (max-width: 640px) {
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        background-color: #766F68;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration:0.3s ;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
    /* FULL SCREEN*/
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-section.on nav {
        display: block;
    }
    .menu-section.on .menu-toggle {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }
    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }
    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }
    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }
}